.transmit-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: theme('colors.phainon-gold');
  transition: left 0.3s ease;
  z-index: -1;
}

.transmit-button:hover::after {
  left: 0;
}
